<form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="col-md-4 offset-md-3">
        <div class="form-group">
            <label for="username" class="form-label mt-4">Username</label>
            <input type="text"
             class="form-control" 
             id="username" 
             name="username" 
             placeholder="Enter Username" 
             formControlName="username"
             />
        </div>
    </div>
    <div class="col-md-4 offset-md-3">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>