<form [formGroup]="loginForm" (ngSubmit)="handleLogin()" novalidate>
    <div class="col-md-4 offset-md-3">
        <div class="form-group">
            <label for="username" class="form-label mt-4">Username</label>
            <input type="text"
             class="form-control" 
             id="username" 
             name="username" 
             placeholder="Enter Username" 
             formControlName="username"
             autocomplete="off" 
             />
             <div *ngIf="!username?.valid && username?.dirty " class="text-danger mt-2">
                <div *ngIf="username.errors?.maxlength">Username cannot be more than 10 characters</div>
               <div *ngIf="username.errors?.minlength">Minimum characters for username is 6</div>
               <div *ngIf="username.errors?.required">Username is required</div>
               <div *ngIf="username.errors?.pattern">Username should be alphanumeric only</div>
             </div>
        </div>
    </div>
    <div class="col-md-4 offset-md-3">
        <div class="form-group">
            <label for="username" class="form-label mt-4">Password</label>
            <input type="password"
             class="form-control" 
             id="password" 
             name="password" 
             placeholder="Enter Password" 
             formControlName="password"
             autocomplete="off" 
             />
             <div *ngIf="!password?.valid && password?.dirty " class="text-danger mt-2">
                <div *ngIf="password.errors?.maxlength">Password cannot be more than 10 characters</div>
               <div *ngIf="password.errors?.minlength">Password should be miniumum of  6 characters</div>
               <div *ngIf="password.errors?.required">Password is required</div>
               <div *ngIf="password.errors?.pattern">Password should be alphanumberic with atleast one special character</div>
             </div>
             
        </div>
    </div>
    <div class="col-md-4 offset-md-3">
        <div class="form-group">
            <label for="age" class="form-label mt-4">Age</label>
            <input type="text"
             class="form-control" 
             id="age" 
             name="age" 
             placeholder="Enter Age" 
             formControlName="age"
             autocomplete="off" 
             />
             <div *ngIf="!age?.valid && age?.dirty" class="text-danger mt-2">
                <div>Minimum age should be 18</div>
               
             </div>
             
        </div>
    </div>
    <div class="col-md-4 offset-md-3 mt-3">
        <button class="btn btn-primary" type="submit"
      
        >Login</button>
    </div>
</form>