<div class="row">
<div class="col-md-1 divbox">one</div>
<div class="col-md-1 divbox">two</div>
<div class="col-md-1 divbox">three</div>
<div class="col-md-1 divbox">four</div>
<div class="col-md-1 divbox">five</div>
<div class="col-md-1 divbox">six</div>
<div class="col-md-1 divbox">seven</div>
<div class="col-md-1 divbox">eight</div>
<div class="col-md-1 divbox">nine</div>
<div class="col-md-1 divbox">ten</div>
<div class="col-md-1 divbox">Eleven</div>
<div class="col-md-1 divbox">twelve</div>

<div class="col-md-6 divbox">6.1</div>
<div class="col-md-6 divbox">6.2</div>


<div class="col-md-4 divbox">4.1</div>
<div class="col-md-4 divbox">4.2</div>
<div class="col-md-4 divbox">4.3</div>



<div class="col-md-3 divbox">3.1</div>
<div class="col-md-3 divbox">3.</div>
<div class="col-md-3 divbox">3.3</div>
<div class="col-md-3 divbox">3.4</div>


<div class="col-md-2 divbox">2.1</div>
<div class="col-md-2 divbox">2.2</div>
<div class="col-md-2 divbox">2.3</div>
<div class="col-md-2 divbox">2.4</div>
<div class="col-md-2 divbox">2.5</div>
<div class="col-md-2 divbox">2.6</div>


</div>
